In [1]:
import pandas as pd
import numpy as np

In [2]:
PostalCodes = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [3]:
PostalCodes=PostalCodes[0]
PostalCodes

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

In [4]:
PostalCodes.drop(PostalCodes.index[PostalCodes['Borough'] == 'Not assigned'], inplace = True)

In [5]:
X=PostalCodes

In [6]:
X=X.groupby('Postcode')['Neighbourhood'].apply(','.join).reset_index()
X

    Postcode                                      Neighbourhood
0        M1B                                      Rouge,Malvern
1        M1C               Highland Creek,Rouge Hill,Port Union
2        M1E                    Guildwood,Morningside,West Hill
3        M1G                                             Woburn
4        M1H                                          Cedarbrae
..       ...                                                ...
98       M9N                                             Weston
99       M9P                                          Westmount
100      M9R  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W                                          Northwest

[103 rows x 2 columns]

In [7]:
PostalCodes=pd.merge(X,PostalCodes,on='Postcode')
PostalCodes

,Postcode,Neighbourhood_x,Borough,Neighbourhood_y
0,M1B,"Rouge,Malvern",Scarborough,Rouge
1,M1B,"Rouge,Malvern",Scarborough,Malvern
2,M1C,"Highland Creek,Rouge Hill,Port Union",Scarborough,Highland Creek
3,M1C,"Highland Creek,Rouge Hill,Port Union",Scarborough,Rouge Hill
4,M1C,"Highland Creek,Rouge Hill,Port Union",Scarborough,Port Union
...,...,...,...,...
206,M9V,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",Etobicoke,Mount Olive
207,M9V,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",Etobicoke,Silverstone
208,M9V,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",Etobicoke,South Steeles
209,M9V,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",Etobicoke,Thistletown
210,M9W,Northwest,Etobicoke,Northwest

In [8]:
PostalCodes.drop(['Neighbourhood_y'],axis=1,inplace=True)
PostalCodes

    Postcode                                    Neighbourhood_x      Borough
0        M1B                                      Rouge,Malvern  Scarborough
1        M1B                                      Rouge,Malvern  Scarborough
2        M1C               Highland Creek,Rouge Hill,Port Union  Scarborough
3        M1C               Highland Creek,Rouge Hill,Port Union  Scarborough
4        M1C               Highland Creek,Rouge Hill,Port Union  Scarborough
..       ...                                                ...          ...
206      M9V  Albion Gardens,Beaumond Heights,Humbergate,Jam...    Etobicoke
207      M9V  Albion Gardens,Beaumond Heights,Humbergate,Jam...    Etobicoke
208      M9V  Albion Gardens,Beaumond Heights,Humbergate,Jam...    Etobicoke
209      M9V  Albion Gardens,Beaumond Heights,Humbergate,Jam...    Etobicoke
210      M9W                                          Northwest    Etobicoke

[211 rows x 3 columns]

In [9]:
PostalCodes=PostalCodes[['Postcode','Borough','Neighbourhood_x']]
PostalCodes

    Postcode      Borough                                    Neighbourhood_x
0        M1B  Scarborough                                      Rouge,Malvern
1        M1B  Scarborough                                      Rouge,Malvern
2        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
3        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
4        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
..       ...          ...                                                ...
206      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
207      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
208      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
209      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
210      M9W    Etobicoke                                          Northwest

[211 rows x 3 columns]

In [10]:
PostalCodes=PostalCodes.drop_duplicates(subset='Postcode').reset_index()
PostalCodes

,index,Postcode,Borough,Neighbourhood_x
0,0,M1B,Scarborough,"Rouge,Malvern"
1,2,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union"
2,5,M1E,Scarborough,"Guildwood,Morningside,West Hill"
3,8,M1G,Scarborough,Woburn
4,9,M1H,Scarborough,Cedarbrae
...,...,...,...,...
98,196,M9N,York,Weston
99,197,M9P,Etobicoke,Westmount
100,198,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie..."
101,202,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam..."
102,210,M9W,Etobicoke,Northwest

In [11]:
PostalCodes.drop(columns=['index'],inplace=True)
PostalCodes.rename(columns={'Neighbourhood_x' : 'Neighbourhood'},inplace=True)
PostalCodes

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [12]:
PostalCodes.shape

(103, 3)